#LLM and Framework

langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
langsmith
langchain-google-genai
langchain-groq
langchain-chroma
langchain-unstructured
langchain-core
pypdf

chromadb
faiss-cpu

pymupdf
pypdf
python-docx
python-pptx
unstructured