# LLM and Framework
langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
langsmith
langchain-google-genai
langchain-groq
langchain-chroma
langchain-huggingface
langchain-unstructured
langchain-classic

# Document Loaders
pypdf
pymupdf
python-docx
python-pptx
unstructured
docx2txt

# Vector DB
chromadb
faiss-cpu

# Search
duckduckgo-search

# API & Server
fastapi
uvicorn[standard]

# Frontend
streamlit
requests

# Utilities
python-dotenv
sentence-transformers